<div id = "deck">

     <!-- Playing Cards  -->
     <%# <div class="pycard">
                 <div class="card" id="card_2">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Regulatory Changes</div>
         </div>

         <div class="flavor">The European Union passes sweeping new privacy regulations.</div>

         <br />

         <div class="instructions">Lose 3 Developer Resources for each of the following data you've already shared: health information, contact lists, or location data.

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_3">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <img class="avatar" src="images/resources.png" />

         <div class="title">Review Guidelines Change</div>
         </div>

         <div class="flavor">The App Store released new, more restrictive, app review guidelines.</div>

         <br />

         <div class="instructions">Contact lists cannot be shared with anyone. When you reach contact lists, you must decide not to share.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you are already sharing user contacts, reverse each decision and lose any developer resources you gained.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div> %>
             <div class="pycard">
                 <div class="card" id="card_4">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <img class="avatar" src="images/resources.png" />

         <div class="title">Crunch time</div>
         </div>

         <div class="flavor">Developers are working overtime to meet deadlines. Sad developers, happy bottom line.</div>

         <br />

         <div class="instructions">Gain 1 developer resource.

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_5">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <img class="avatar" src="images/resources.png" />

         <div class="title">New Investment</div>
         </div>

         <div class="flavor">Your idea has sparked a lot of interest on Wall Street.</div>

         <br />

         <div class="instructions">Gain 2 developer resources.

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_6">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Venture Capital</div>
         </div>

         <div class="flavor">Your idea has sparked a lot of interest in Silicon Valley.</div>

         <br />

         <div class="instructions">Gain 3 developer resources.

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <%# <div class="pycard">
                 <div class="card" id="card_7">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">IHI Partnership</div>
         </div>

         <div class="flavor">International Health Insurance, Inc. wants to buy health information about its customers. In exchange for data, they will promote your application.</div>

         <br />

         <div class="instructions">If you already share health information with other companies, gain 2 additional Developer Resources.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide to share health information with other companies in the future, gain 2 additional Developer Resources.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_8">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Amazon Partnership</div>
         </div>

         <div class="flavor">Amazon wants to learn more about your users by accessing their purchasing data.</div>

         <br />

         <div class="instructions">If you already share purchasing information with other companies, gain 2 additional Developer Resources.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide to share purchasing information with other companies in the future, gain 2 additional Developer Resources.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_9">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Intelligent Sheep Analytics wants to partner!</div>
         </div>

         <div class="flavor">ISA will pay you for access to your users' contacts lists.</div>

         <br />

         <div class="instructions">If you already share contact lists with other companies, gain 2 additional Developer Resources.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide to share contact lists with other companies in the future, gain 2 additional Developer Resources.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_10">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Targeted Advertising</div>
         </div>

         <div class="flavor">OmniCom wants to target their advertising based on users' location.</div>

         <br />

         <div class="instructions">If you already share location data with other companies, gain 2 additional Developer Resources.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide to share location data with other companies in the future, gain 2 additional Developer Resources.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_11">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Location tracking for health!</div>
         </div>

         <div class="flavor">The developer team wants access to location data to calculate users' physical activity.</div>

         <br />

         <div class="instructions">If you already collect location data to provide service and maintain site, gain 1 additional Developer Resource.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide to collect location data to provide service and maintain site in the future, gain 1 additional Developer Resource.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_13">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Site Activity</div>
         </div>

         <div class="flavor">The developer team wants to build features for the most active users based on their site activity.</div>

         <br />

         <div class="instructions">If you already collect site activity for profiling, gain 1 additional Developer Resource.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide to collect site activity for profiling in the future, gain 1 additional Developer Resource.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_14">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Contact Info</div>
         </div>

         <div class="flavor">The developer team thinks collecting user contact lists can encourage users to share the app with their friends.</div>

         <br />

         <div class="instructions">If you already collect contact lists to provide service and maintain site, gain 1 additional Developer Resource.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide to collect contact lists to provide service and maintain site in the future, gain 1 additional Developer Resource.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_15">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Demo Info</div>
         </div>

         <div class="flavor">The developer team wants to collect demographic info to better understand their users.</div>

         <br />

         <div class="instructions">If you already collect demographic information to provide service and maintain site, gain 1 additional Developer Resource.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide to collect demographic information to provide service and maintain site in the future, gain 1 additional Developer Resource.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_17">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Dogfood</div>
         </div>

         <div class="flavor">The testing team uses the app for a week and gets irritated that contact lists are required.</div>

         <br />

         <div class="instructions">If you already do not collect contact lists for any reason, gain 3 additional User Trust.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide not to collect contact lists for any reason in the future, gain 3 additional User Trust.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_18">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">The reviews are in.</div>
         </div>

         <div class="flavor">Reviewers want to know: do you really need to track site activity?</div>

         <br />

         <div class="instructions">If you already do not collect site activity for any reason, gain 3 additional user trust.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide not to collect site activity for any reason in the future, gain 3 additional user trust.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_19">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Polling numbers</div>
         </div>

         <div class="flavor">3 out of 5 users agree that you shouldn't have to provide demographic information in order to use the app.</div>

         <br />

         <div class="instructions">If you already do not collect demographic information for any reason, gain 3 additional user trust.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide not to collect demographic information for any reason, gain 3 additional user trust.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_20">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Angry email</div>
         </div>

         <div class="flavor">A user wrote to say they CANNOT EVEN with your sharing of their data.</div>

         <br />

         <div class="instructions">If you ever share more than 3 types of data with other companies, lose 2 User Trust and 2 Developer Resources.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you ever share 1 or 2 types of data, lose 1 User Trust and 2 Developer Resources.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_21">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Best App Policies Ever!</div>
         </div>

         <div class="flavor">Your restraint sharing data is paying off.</div>

         <br />

         <div class="instructions">If you currently share no data with other companies, gain 2 User Trust & 2 Developer Resources.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you currently share less than 3 data types, gain 1 User Trust & 1 Developer Resource.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_22">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">R&D Team data needs.</div>
         </div>

         <div class="flavor">The R&D team needs more data to figure out your company's next big app!</div>

         <br />

         <div class="instructions">You must choose to collect either purchasing OR demographic information for profiling. Adjust your score accordingly.

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_23">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Marketing's new campaign</div>
         </div>

         <div class="flavor">To better target the new marketing campaign, marketing wants demographic and purchasing data.</div>

         <br />

         <div class="instructions">Negotiate with marketing to share either Demographic or Purchasing Information data, adjust your score accordingly, and gain 1 additional Developer Resource.

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_24">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Legal's liability worries.</div>
         </div>

         <div class="flavor">Legal is worried about potential issues raised by collecting health information.</div>

         <br />

         <div class="instructions">If you already do not collect health information for any reason, gain 3 additional Developer Resources.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide not to collect health information for any reason in the future, gain 3 additional Developer Resources.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_25">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Legal's liability worries.</div>
         </div>

         <div class="flavor">Legal is worried that collecting contact lists might expose the company to lawsuits.</div>

         <br />

         <div class="instructions">If you already do not collect contact lists for any reason, gain 1 additional Developer Resource.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide not collect contact lists for any reason in the future, gain 1 additional Developer Resource.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div> %>
             <div class="pycard">
                 <div class="card" id="card_26">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">CEO's Statement</div>
         </div>

         <div class="flavor">The CEO gave a speech about your commitment to protecting the user.</div>

         <br />

         <div class="instructions">Gain 1 Developer Resource if your team currently has more than 15 User Trust points.

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <%# <div class="pycard">
                 <div class="card" id="card_28">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Partnership Problems</div>
         </div>

         <div class="flavor">Promotion of your company's partnership with Int. Health Insurance has made users nervous.</div>

         <br />

         <div class="instructions">If you already share health information with other companies, lose an additional 2 User Trust.

           <div class="alt-sep">-- <b>Or</b> --</div>
           <span class="alt-instruction">If you decide to share health information with other companies in the future, lose an additional 2 User Trust.</span>

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_29">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Tool creator folds</div>
         </div>

         <div class="flavor">The creator of an outside analytic tool you use was sold. They had access to site activity data about your users. </div>

         <br />

         <div class="instructions">If you already share site activity with other companies, lose an additional 2 User Trust.

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_30">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Third-party Breach</div>
         </div>

         <div class="flavor">The tool you use for tracking users' location has been hacked!</div>

         <br />

         <div class="instructions">If you already collect location data for any reason, lose an additional -2 User Trust.

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div> %>
             <div class="pycard">
                 <div class="card" id="card_31">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <img class="avatar" src="images/trust.png" />

         <div class="title">Marketing Blitz</div>
         </div>

         <div class="flavor">Your marketing department's strategy has paid off.</div>

         <br />

         <div class="instructions">Gain 3 User Trust

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_32">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <img class="avatar" src="images/trust.png" />

         <div class="title">Successful Promotion</div>
         </div>

         <div class="flavor">Sometimes paid promotions - paying a social media company to advertise to targeted groups - are a good deal. Today was one of those times.</div>

         <br />

         <div class="instructions">Gain 2 User Trust

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_33">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <img class="avatar" src="images/trust.png" />

         <div class="title">Advertising Returns</div>
         </div>

         <div class="flavor">Your web-based advertising campaign was successful.</div>

         <br />

         <div class="instructions">Gain 1 User Trust

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
  <%#
             <div class="pycard">
                 <div class="card" id="card_34">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">National Security Interests</div>
         </div>

         <div class="flavor">A government organization has requested access to users' data.</div>

         <br />

         <div class="instructions">All data that your company collects must now automatically be shared with the Government.

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div>
             <div class="pycard">
                 <div class="card" id="card_36">
         <!-- YOUR CUSTOM CODE STARTS HERE -->
         <div class="header">

         <div class="title">Hindsight is 20/20</div>
         </div>

         <br />

         <div class="instructions">Make a different decision on either collecting or sharing one piece of information. If this is your first card drawn, ignore it, put it on the bottom, and redraw.

         </div>



         <!-- YOUR CUSTOM CODE ENDS HERE -->
     </div>
             </div> %>
 </div>
