<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../stylesheets/gameBoard.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>PbDBoardGame</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="../controller/index.js"> </script>
</head>
<body>
<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a onclick="openNav()" href="#">Check Score</a>
</div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div id = "scoreBoard">
    <div class = "team">
      <center><h2> Team Name </h2></center>
      <div class="score-grid-container">
        <div id = "dev-score" class="score-grid-item">Developer Time</div>
        <div class="score-grid-item">24</div>
        <div id = "user-score" class="score-grid-item">User Trust</div>
        <div class="score-grid-item">24</div>
      </div>
    </div>
  </div>
</div>

<!--  Modal   -->
<div id="myModal"  class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <% include cards.ejs %>
  </div>
</div>



<!--************************Row One *****************************************-->

  <div class="holder">
      <div class = "titles">
        <div class = "title-left">
          <span><h1>Collectiong Demographic Information</h1></span>
        </div>
        <div class = "title-right">
          <span><h1>Sharing Demographic Information</h1></span>
        </div>
      </div>
      <div class="wrapper">
        <center>
          <div class="container-one row-one-a">
            <h4>Provide Service, Maintain Site</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper">
          <center>
          <div class="container-one row-one-a">
            <h4>Marketing</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper">
          <center>
          <div class="container-one row-one-a">
            <h4>Profiling</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </cetner>
      </div>
      <div class="wrapper">
          <div id = "arrow_one" onclick="drawCard(this)" class="arrow-right-div"><span class="arrow-right"></span>Draw One Card</div>
      </div>
      <div class="wrapper">
          <center>
          <div class="container-one row-one-b">
            <h4>Other Corps</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper">
          <center>
          <div class="container-one row-one-b">
            <h4>Academic Researchers</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper">
          <center>
          <div class="container-one row-one-b">
            <h4>Government on Request</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
  </div>
  <div class="wrapper">
      <div id = "arrow_two" onclick="drawCard(this)" class="arrow-down-div"><span class="arrow-down"></span>Draw One Card</div>
  </div>
  <!--************************Row Two ****************************************-->
  <div class="holder-two">
    <div class = "titles">
      <div class = "title-left">
        <span><h1>Sharing Health Information</h1></span>
      </div>
      <div class = "title-right">
        <span><h1>Collecting Health Information</h1></span>
      </div>
    </div>
      <div class="wrapper-two">
        <center>
          <div class="container-two">
            <h4>Provide Service, Maintain Site</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-two">
          <center>
          <div class="container-two">
            <h4>Marketing</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-two">
          <center>
          <div class="container-two">
            <h4>Profiling</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </cetner>
      </div>
      <div class="wrapper-two">
          <div id = "arrow_three" onclick="drawCard(this)" class="arrow-left-div"><span class="arrow-left"></span>Draw Two Cards</div>
      </div>
      <div class="wrapper-two">
          <center>
          <div class="container-two">
            <h4>Other Corps</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-two">
          <center>
          <div class="container-two">
            <h4>Academic Researchers</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-two">
          <center>
          <div class="container-two">
            <h4>Government on Request</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
  </div>
  <div class="wrapper-two">
      <div id = "arrow_four" onclick="drawCard(this)" class="arrow-down2-div"><span class="arrow-down2"></span>Draw Two Cards</div>
  </div>

  <!--************************Row Three *****************************************-->
  <div class="holder-three">
    <div class = "titles">
      <div class = "title-left">
        <span><h1>Collecting Purchasing Information</h1></span>
      </div>
      <div class = "title-right">
        <span><h1>Sharing Purchasing Information</h1></span>
      </div>
    </div>
      <div class="wrapper-three">
        <center>
          <div class="container-three">
            <h4>Provide Service, Maintain Site</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-three">
          <center>
          <div class="container-three">
            <h4>Marketing</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-three">
          <center>
          <div class="container-three">
            <h4>Profiling</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </cetner>
      </div>
      <div class="wrapper-three">
          <div id = "arrow_five" onclick="drawCard(this)" class="arrow-right-div"><span class="arrow-right"></span>Draw Two Cards</div>
      </div>
      <div class="wrapper-three">
          <center>
          <div class="container-three">
            <h4>Other Corps</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-three">
          <center>
          <div class="container-three">
            <h4>Academic Researchers</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-three">
          <center>
          <div class="container-three">
            <h4>Government on Request</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
  </div>
  <div class="wrapper-three">
      <div id = "arrow_six" onclick="drawCard(this)" class="arrow-down3-div"><span class="arrow-down3"></span>Draw Three Cards</div>
  </div>

  <!--************************Row Four ****************************************-->
  <div class="holder-four">
    <div class = "titles">
      <div class = "title-left">
        <span><h1>Sharing Contact Lists</h1></span>
      </div>
      <div class = "title-right">
        <span><h1>Collecting Contact Lists</h1></span>
      </div>
    </div>
      <div class="wrapper-four">
        <center>
          <div class="container-four">
            <h4>Provide Service, Maintain Site</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-four">
          <center>
          <div class="container-four">
            <h4>Marketing</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-four">
          <center>
          <div class="container-four">
            <h4>Profiling</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </cetner>
      </div>
      <div class="wrapper-four">
          <div id = "arrow_seven" onclick="drawCard(this)" class="arrow-left-div"><span class="arrow-left"></span>Draw Three Cards</div>
      </div>
      <div class="wrapper-four">
          <center>
          <div class="container-four">
            <h4>Other Corps</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-four">
          <center>
          <div class="container-four">
            <h4>Academic Researchers</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-four">
          <center>
          <div class="container-four">
            <h4>Government on Request</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
  </div>
  <div class="wrapper-four">
      <div id = "arrow_eight" onclick="drawCard(this)" class="arrow-down4-div"><span class="arrow-down4"></span>Draw Three Cards</div>
  </div>


  <!--************************Row Five*****************************************-->
  <div class="holder-five">
    <div class = "titles">
      <div class = "title-left">
        <span><h1>Collecting Site Activity</h1></span>
      </div>
      <div class = "title-right">
        <span><h1>Sharing Site Activity</h1></span>
      </div>
    </div>
      <div class="wrapper-five">
        <center>
          <div class="container-five">
            <h4>Provide Service, Maintain Site</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-five">
          <center>
          <div class="container-five">
            <h4>Marketing</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-five">
          <center>
          <div class="container-five">
            <h4>Profiling</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </cetner>
      </div>
      <div class="wrapper-five">
          <div id = "arrow_nine" onclick="drawCard(this)" class="arrow-right2-div"><span class="arrow-right2"></span>Draw Four Cards</div>
      </div>
      <div class="wrapper-five">
          <center>
          <div class="container-five">
            <h4>Other Corps</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-five">
          <center>
          <div class="container-five">
            <h4>Academic Researchers</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-five">
          <center>
          <div class="container-five">
            <h4>Government on Request</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
  </div>
  <div class="wrapper-five">
      <div id = "arrow_ten" onclick="drawCard(this)" class="arrow-down5-div"><span class="arrow-down5"></span>Draw Four Cards</div>
  </div>

  <!--************************Row Six****************************************-->
  <div class="holder-six">
    <div class = "titles">
      <div class = "title-left">
        <span><h1>Sharing Location Data</h1></span>
      </div>
      <div class = "title-right">
        <span><h1>Collecting Location Data</h1></span>
      </div>
    </div>
      <div class="wrapper-six">
        <center>
          <div class="container-six">
            <h4>Provide Service, Maintain Site</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-six">
          <center>
          <div class="container-six">
            <h4>Marketing</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-six">
          <center>
          <div class="container-six">
            <h4>Profiling</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </cetner>
      </div>
      <div class="wrapper-six">
          <div id = "arrow_eleven" onclick="drawCard(this)" class="arrow-left2-div"><span class="arrow-left2"></span>Draw Four Cards</div>
      </div>
      <div class="wrapper-six">
          <center>
          <div class="container-six">
            <h4>Other Corps</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-six">
          <center>
          <div class="container-six">
            <h4>Academic Researchers</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
      <div class="wrapper-six">
          <center>
          <div class="container-six">
            <h4>Government on Request</h4>
            <span class = "cost">-1</span>
            <img class = "img-resource" src="/images/resources.png" alt="resources" height="60" width="60">
            <span class = "benefit">0</span>
            <br>
            <span class = "cost">0</span>
            <img class = "img-trust" src="images/trust.png" alt="trust" height="60" width="60">
            <span class = "benefit">+1</span>
            <br>
            <button type="button" class="collect-button" onclick="collected(this, 'cell')">Collect</button>
            <button type="button" class="not-collect-button" onclick="collected(this, 'cell')">Do Not Collect</button>
          </div>
        </center>
      </div>
  </div>

</body>
</html>
